<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSControl_EscolarSoap" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="WS_EmpleadoSoap" />
                <binding name="WS_ProfesorSoap" />
                <binding name="WS_UsuarioSoap" />
                <binding name="WS_MateriaSoap" />
                <binding name="WS_GrupoSoap" />
                <binding name="WS_Historial_alumnoSoap" />
                <binding name="WS_AuditoriaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49655/WSControl_Escolar.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSControl_EscolarSoap"
                contract="WSControl_Escolar_Reference.WSControl_EscolarSoap"
                name="WSControl_EscolarSoap" />
            <endpoint address="http://localhost:49655/WS_Empleado.asmx" binding="basicHttpBinding"
                bindingConfiguration="WS_EmpleadoSoap" contract="WS_Empleado_Reference.WS_EmpleadoSoap"
                name="WS_EmpleadoSoap" />
            <endpoint address="http://localhost:49655/WS_Profesor.asmx" binding="basicHttpBinding"
                bindingConfiguration="WS_ProfesorSoap" contract="WS_Profesor_Reference.WS_ProfesorSoap"
                name="WS_ProfesorSoap" />
            <endpoint address="http://localhost:49655/WS_Usuario.asmx" binding="basicHttpBinding"
                bindingConfiguration="WS_UsuarioSoap" contract="WS_Usuario_Reference.WS_UsuarioSoap"
                name="WS_UsuarioSoap" />
            <endpoint address="http://localhost:49655/WS_Materia.asmx" binding="basicHttpBinding"
                bindingConfiguration="WS_MateriaSoap" contract="WS_Materia_Reference.WS_MateriaSoap"
                name="WS_MateriaSoap" />
            <endpoint address="http://localhost:49655/WS_Grupo.asmx" binding="basicHttpBinding"
                bindingConfiguration="WS_GrupoSoap" contract="WS_Grupo_Reference.WS_GrupoSoap"
                name="WS_GrupoSoap" />
            <endpoint address="http://localhost:49655/WS_Historial_alumno.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS_Historial_alumnoSoap"
                contract="WS_Historial_alumno_Reference.WS_Historial_alumnoSoap"
                name="WS_Historial_alumnoSoap" />
            <endpoint address="http://localhost:49655/WS_Auditoria.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS_AuditoriaSoap"
                contract="WS_Auditoria_Reference.WS_AuditoriaSoap" name="WS_AuditoriaSoap" />
        </client>
    </system.serviceModel>
</configuration>