<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSControl_EscolarSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49655/WSControl_Escolar.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSControl_EscolarSoap"
                contract="WSControl_Escolar_Reference.WSControl_EscolarSoap"
                name="WSControl_EscolarSoap"/>
        </client>
    </system.serviceModel>
</configuration>